<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Kujos Sweet Site</a></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/articles/new">New Article</a></li>
    </ul>
  </div>
</nav>

<h1>Showing new article</h1>

<p>
  Title: <%= @article.title %>
</p>

<p>
  Description: <%= @article.description %> 
</p>