<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Kujos Sweet Site</a></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li class="active"><a href="/about">About Us</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Articles
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/articles/new">New Article</a></li>
            <li><a href="/articles">View Articles</a></li>
          </ul>
        </li>
    </ul>
  </div>
</nav>

<body>
  <h2>We care about your future</h2>
  
</body>
<!--
<script type="text/javascript">
    alert("Hello Ashley!");
</script>
-->

<div><a href="/">Click here to go back to the home page</a></div>
