<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Kujos Sweet Site</a></a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Articles
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/articles/new">New Article</a></li>
            <li><a href="/articles">View Articles</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <h2>Information Security</h2>
  <p style="background-color:black; color:white">
    <h3 style="text-align:center">Certifications you'll need to get there</h3>
    
    <div><a href="https://certification.comptia.org/certifications/a" target="_blank">A+</a></div>
    <div><a href="https://certification.comptia.org/certifications/network" target="_blank">Network+</a></div>
    <div><a href="https://certification.comptia.org/certifications/security" target="_blank">Security+</a></div>
    <div><a href="https://www.cisco.com/c/en/us/training-events/training-certifications/certifications/associate/ccna-routing-switching.html" target="_blank">CCNA</a></div>
    <div><a href="https://www.microsoft.com/en-us/learning/mcsa-certification.aspx" target="_blank">MCSA</a></div>
 
  </p>
  
  
</body>


<div style="text-align:center">
<a href="/about">Click here to go back to the About Us page</a>
</div>

<!-- <script type="text/javascript">
  alert("Welcome to my dope website!");
</script> --> 


