<script type-"text/javascript">
  alert("Welcome to my dope website!")
</script>

<header style="text-align:center">
<h1>Welcome to our homepage</h1>
</header>

<body>
  <h2>Information Security</h2>
  <p style="background-color:black; color:white">
    <h3 style="text-align:center">Certifications you'll need to get there</h3>
    
    <div><a href="https://certification.comptia.org/certifications/a" target="_blank">A+</a></div>
    <div><a href="https://certification.comptia.org/certifications/network" target="_blank">Network+</a></div>
    <div><a href="https://certification.comptia.org/certifications/security" target="_blank">Security+</a></div>
    <div><a href="https://www.cisco.com/c/en/us/training-events/training-certifications/certifications/associate/ccna-routing-switching.html" target="_blank">CCNA</a></div>
    <div><a href="https://www.microsoft.com/en-us/learning/mcsa-certification.aspx" target="_blank">MCSA</a></div>
 
  </p>
  
  
</body>
  



<div style="text-align:center">
<a href="/about">Click here to go back to the About Us page</a>
</div>

