<body>
 <div class="container">
  <div class="jumbotron" id="tron">
    <h1>Information Security</h1> 
    <p>Ever wanted to be on the forefront of cyber threats? Understand them? Learn how they are created?</p> 
    <% if !logged_in? %> 
      <%= link_to "Sign up now", "/signup", class: "btn btn-primary btn-lg btn-xlarge" %> 
    <% end %>
  </div>
  <p style="background-color:black; color:white">
    <h3 style="text-align:center">Certifications you'll need to get there</h3>
    
    <div><a href="https://certification.comptia.org/certifications/a" target="_blank">A+</a></div>
    <div><a href="https://certification.comptia.org/certifications/network" target="_blank">Network+</a></div>
    <div><a href="https://certification.comptia.org/certifications/security" target="_blank">Security+</a></div>
    <div><a href="https://www.cisco.com/c/en/us/training-events/training-certifications/certifications/associate/ccna-routing-switching.html" target="_blank">CCNA</a></div>
    <div><a href="https://www.microsoft.com/en-us/learning/mcsa-certification.aspx" target="_blank">MCSA</a></div>
 
  </p>
  
  
</body>



