<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://www.udemy.com" target="_blank">Kujos Ruby Course</a>
      by <a href="https://twitter.com/YupppItsKujo" target="_blank">Kujo</a> </br>
    </small>
      <%= link_to "About", about_path, class: "aboutfooter" %>
  </footer>
</div>